body {
   font-family: 'Montserrat', sans-serif;
}

.nav {
   text-align: center;
   
}

a {
   text-decoration: none;
}

.item {
   
   display: inline;
   color: red;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;

   align-items: center;
   letter-spacing: 2.7px;
   text-transform: uppercase;
   margin-right: 45px;
}


  
.title {
   color: rgb(37, 37, 37);
   text-align: center;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   text-transform: uppercase;
   letter-spacing: 3.3px;
}

.text {
   color: rgb(37, 37, 37);
   text-align: center;
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 2.4px;
}

.btn {
   color: white;
   background:red;
   width: 191px;
   height: 51px;
   font-weight: 700;
   font-size: 12px;
   margin: 0 auto;
   display: block;
   line-height: 27px;
   letter-spacing: 1.8px;
   text-transform: uppercase;
}

.copyrinfo {
   color:  rgb(37, 37, 37);
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 2.4px;
   text-align: right;
      
}